page-index {
  ion-content {
    background-image: url('../assets/image/index/background.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
}
