page-index {
  .background {
    background-image: url('../assets/image/index/background.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;

    -webkit-animation: background-keyframes 25s ease 0s infinite alternate;
    -o-animation: background-keyframes 25s ease 0s infinite alternate;
    animation: background-keyframes 25s ease 0s infinite alternate;
  }

  @-webkit-keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {

      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);

      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

  @-moz-keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {
      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

  @-ms-keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {
      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

  @-o-keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {
      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

  @-khtml-keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {
      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

  @keyframes background-keyframes {
    0% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    50% {

      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);

      -moz-filter: blur(5px);
      -webkit-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    100% {
      -moz-filter: blur(0px);
      -webkit-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }

}
